@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  margin: 0 auto;
}